.top5{
	background: linear-gradient(blue,red);
	height:120px;
	color:yellow
}
.top5:hover{
 background: linear-gradient(red, blue);
 color:red;
}
.footer{
	background: linear-gradient(gray,yellow,blue)
}
.footer:hover{
 background: linear-gradient(green,yellow,red);
 border:2px solid green;
}
.middle2{
	background:blue;
}
.middle2:hover{
	background:yellow;
}
